<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
	
		<?php 
		
			//实例化config表
			$con = new Model('config');

			//查询网站配置信息
			$res12 = $con->select();

		?>
		<meta name="keywords" content="<?= $res12[0]['keywords']?>">
		<title><?= $res12[0]['webname']?></title>
		<link rel="stylesheet" href="./Public/css/index.css">
	</head>
	<body>
		<!-- 引入头部文件 -->
		<?php 

			require "./View/Public/head.html";

		?>

		
		<!--大盒子-->
		<div id="big">
			<!--顶部搜索条-->
			<div id="search">
				<form action="./index.php?c=detail&a=list_search" method="post">
					<input type="text" placeholder="请输入帖子名称!" name="search" value=""/>
					<input type="submit" value="搜索"/>
				</form>
				<ul id="hot">
					<li>热搜：</li>
					<li class="red">php</li>
					<li class="red">php视频</li>
					<li class="red">php教程</li>
				</ul>
				<div id="guanzhu">
					<ul>
						<li><a href="#"><img src="./Public/images/sina_n.png" title="关注新浪微博"/></a></li>
						<li><a href="#"><img src="./Public/images/qq_n.png" title="添加到QQ"/></a></li>
						<li><a href="#"><img src="./Public/images/6.gif" title="添加笔记"/></a></li>
						<li><a href="#"><img src="./Public/images/21.gif" title="百度浏览"/></a></li>
						<li><a href="#"><img src="./Public/images/medal.png" title="排行榜"/></a></li>
					</ul>
				</div>
			</div>
			<!--顶部搜索条结束-->
			
			<!--banner开始-->
			<div id="banner">
				<div id="leftban">
					<img src="./Public/images/banner2.jpg"/>
				</div>
				<div id="middleban">
					<div class="topban">
						<img src="./Public/images/topban1.jpg"/>
					</div>
					<div class="bottomban">
						<img src="./Public/images/bottomban1.jpg"/>
					</div>
				</div>
				<div id="rightban">
					<div class="bottomban">
						<img src="./Public/images/bottomban2.jpg"/>
					</div>
					<div class="topban">
						<img src="./Public/images/topban2.jpg"/>
					</div>
				</div>
			</div>
			<!--banner结束-->
			
			<!--统计开始-->
			<div id="count">
				<div id="tongzhi">
					<ul>
						<li><a href="#" id="one">跟兄弟连学php正式发售啦</a></li>
						<li><a href="#" id="two">兄弟连2016年PHP课程体系全面升级！</a></li>
						<li><a href="#" id="three">兄弟连视频教程免费下载地址汇总</a></li>
						<li><a href="#" id="four">HTML5就业班，包吃、包住、包就业！</a></li>
					</ul>
				</div>
				<div id="tongji">
					<ul>
						<li>今日:<a href="#">169</a>|</li>
						<li>昨日:<a href="#">47</a>|</li>
						<li>最高日:<a href="#">116787</a>|</li>
						<li>会员:<a href="#">382450</a>|</li>
						<li>新会员:<a href="#">我是大牛</a></li>
					</ul>
				</div>
			</div>
			<!--统计结束-->
			
			<!--帖子分区版块开始-->
			<?php 
				foreach($res1 as $k=>$v){

					//判断是否为父分区
					if($v['pid']==0 && $v['status']==1){

			?>
			<div id="jishu">
				<div class="biaoti">
					<div class="dabiao"></div>
						<h5>:::.<?= $v['name'] ?>:::.</h5>
					<div class="topjian"></div>
				</div>
				<div class="neirong">

					<?php 
						//查询指定父类的子版块
						$res2 = $type->where('pid='.$v['id'])->select();
						
						//判断版块是否为空
						if($res2){

						//遍历子版块信息
						foreach($res2 as $key=>$val){

							//判断子版块状态
							if($val['status']){
					?>
					
					<div class="bankuai">
						<div class="tu">
							<a href="./index.php?c=index&a=list&tid=<?= $val['id'] ?>"><img style="width:53px;height:53px" 
							src="../Admin/Public/blogo/<?= $val['blogo']?>"/></a>
						</div>
						<div class="wen">
							<ul>
								<li><a href="./index.php?c=index&a=list&tid=<?= $val['id'] ?>" class="dbt"><?= $val['name'] ?></a><span>（今日14）</span></li>
								<li>主题：10737 帖子：523554</li>
								<li>最后发帖:2016-02-17 17:42</li>
							</ul>
						</div>
					</div>
					<?php 
							}
						}
					?>
				</div>
			</div>
			<?php 
					}
					}
				}


				//实例化表friendlink
				$link = new Model('friendlink');

				//查询友情连接相关信息
				$res3 = $link->order('ordernum')->select();

			?>
			<!--帖子分区版块结束-->
			
			<!--友情链接开始-->
			<div id="youqing">
				<div class="biaoti">
					<div class="dabiao"></div>
						<h5>:::.友情链接:::.</h5>
					<div class="topjian"></div>
				</div>
				<ul>
				<?php
					
					//将查询的数据遍历
					foreach($res3 as $k=>$v){

				?>

				

					<li>
					<!-- <img style="width:15px;height: 15px" src="../Admin/Public/linkLogo/<?= $v['logo']?>"> -->
					<a href="<?= $v['url']?>" target="_black"><?= $v['linkname']?></a></li>

				<?php
					}
				?>

				</ul>
			</div>
			<!--友情链接结束-->
			
		</div>
		<!--大盒子结束-->
			
		<!-- 引入脚部文件 -->
		<?php require "./View/Public/foot.html"; ?>
	</body>
</html>