/*========top的css样式设计代码=========*/
			*{
				margin:0px;
				padding:0px;
			}
			body{
				background-color:#F1F2F6;
			}
			a{
				text-decoration:none;
			}
			#top{
				width:100%;
				height:27px;
				border-bottom:1px solid white;
				background-color:#E6E9EE;
				line-height:27px;
			}
			.middlediv{
				margin:0 auto;
				width:950px;
			}
			#leftnav{
				list-style:none;
			}
			#leftnav li a{
				float:left;
				font-size:13px;
				margin-left:5px;
				color:#636969;
				text-decoration:none;
			}
			#leftnav li a:hover{
				color:blue;
			}
			#rightnav{
				list-style:none;
			}
			#rightnav li a{
				float:right;
				font-size:13px;
				margin-left:5px;
				color:#636969;
				text-decoration:none;
			}
			#rightnav li a:hover{
				color:blue;
			}
		/*====================================*/
		
		/*==========header的css代码===========*/
			#header{
				width:950px;
				height:80px;
				background-color:#F1F2F6;
				margin:0 auto;
			}
			#logo{
				width:300px;
				height:80px;
				float:left;
				line-height:80px;
				margin-top:;
			}
			#nobrother{
				width:300px;
				height:80px;
				float:left;
				line-height:80px;
			}
			#login{
				width:350px;
				float:left;
				font-size:15px;
				margin-top:20px;
				line-height:25px;
			}
			#login table{
				width:330px;
			}
			#login table input[type=submit]{
				width:70px;
				height:22px;
				cursor:pointer;
			}
			#login table input[type=button]{
				width:68px;
				height:22px;
				background-color:#fc0;
				border:2px solid #fc0;
				color:white;
				cursor:pointer;
				box-shadow:1px 2px #ccc;
			}
		/*====================================*/
		
		/*============nav的css样式============*/
			#nav{
				width:100%;
				height:45px;
				background-color:#075992;
				line-height:45px;
				font-size:15px;
				color:white;
				/*1170B2*/
			}
			#middlenav li{
				float:left;
				list-style:none;
				padding:0px 10px 0px 10px;
			}
			#middlenav li a{
				color:white;
			}
			#middlenav li a:hover{
				color:yellow;
			}
			#middlenav .point li{
				background-color:#1170B2;
			}
			#fastroad{
				float:right;
				margin-top:5px;
			}
		/*====================================*/
		
		/*==========大盒子的css样式===========*/
			#big{
				width:950px;
				margin:0 auto;
			}
			#search{
				height:41px;
				background-image:url("../images/searchA.jpg");
				line-height:38px;
				box-shadow:0px 2px 12px #ccc;
			}
			#search form{
				margin-left:70px;
				float:left;
			}
			#search form input[type=text]{
				height:25px;
			}
			#search form select{
				width:60px;
				height:30px;
			}
			#search form input[type=submit]{
				width:50px;
				height:30px;
			}
			#search #hot li{
				float:left;
				list-style:none;
				margin-left:10px;
				font-size:15px;
				line-height:45px;
			}
			#search #hot li.red{
				color:red;
			}
			#search #guanzhu{
				float:left;
				margin-left:160px;
				/*border:1px solid red;*/
			}
			#search #guanzhu ul{
				margin-top:3px;
				list-style:none;
			}
			#search #guanzhu ul li{
				float:left;
				margin-left:8px;
			}
			#yindao{
				width:950px;
				height:45px;
				line-height:45px;
				/*border:1px solid red;*/
			}
			#yindao p{
				width:950px;
				height:45px;
				line-height:45px;
				padding-left:25px;
				float:left;
				/*border:1px solid red;*/
				background:url("./public/ydjian.png") no-repeat 0px,10px;
			}
			#yindao p a{
				font-size:15px;
				color:#636969;
			}
			#yindao p a:hover{
				color:red;
			}
			#yindao #newt{
				float:right;
			}
			#list{
				float:left;
				height:45px;
				background-color:white;
				border-radius:5px;
				margin-bottom:10px;
			}
			#list #page{
				float:left;
				width:950px;
				margin-top:8px;
			}
			#list #page #pagefy{
				float:left;
			}
			#list #page #pagefy ul{
				list-style:none;
				margin-left:18px;
			}
			#list #page #pagefy ul li{
				float:left;
				margin-left:5px;
				padding:4px 0px;
				border:1px solid #636969;
			}
			#list #page #pagefy ul li a{
				padding:5px 10px;
				color:#636969;
			}
			#list #page #pagefy ul li a:hover{
				color:white;
				background-color:#636969;
			}
			#list #page #fatie{
				float:right;
				margin-right:20px;
			}
			#list #page #fatie button{
				width:60px;
				height:30px;
				color:white;
				background-color:#fc0;
				border:1px solid #fc0;
				border-left:2px solid white;
				border-top:2px solid white;
				border-radius:5px;
				font-weight:bold;
				cursor:pointer;
			}
			#bigdetail{
				float:left;
				/*border:1px solid red;*/
			}
			#detail{
				width:950px;
				height:100%;
				float:left;
				border-top:1px solid #888;
				background-color:#F7F7F7;
			}
			#detail #lzinfo{
				width:150px;
				height:100%;
				float:left;
				border-right:1px solid #EDEDED;
				background-color:#F7F7F7;
			}
			#detail #lzinfo #read{
				width:74px;
				height:40px;
				line-height:12px;
				float:left;
				font-size:12px;
				font-weight:bold;
				border-bottom:1px solid #d9d9d9;
				border-right:1px solid #d9d9d9;
			}
			#detail #lzinfo #reply{
				width:74px;
				height:40px;
				line-height:12px;
				font-size:12px;
				float:left;
				font-weight:bold;
				border-bottom:1px solid #d9d9d9;
			}
			#detail #lzinfo #read p{
				margin-top:5px;
				text-align:center;
			}
			#detail #lzinfo #reply p{
				margin-top:5px;
				text-align:center;
			}
			#detail #lzinfo #lztoux{
				width:130px;
				/*height:459px;*/
				float:left;
				margin-left:10px;
			}
			#detail #lzinfo #lztoux #uname{
				width:115px;
				height:30px;
				float:left;
				font-size:15px;
				padding-top:2px;
				padding-left:15px;
				line-height:30px;
				margin-top:5px;
				background:url("./public/guanli.png") no-repeat left center;
			}
			#detail #lzinfo #lztoux #uname a{
				color:black;
			}
			#detail #lzinfo #lztoux #uname a:hover{
				color:blue;
			}
			#detail #lzinfo #lztoux #utoux{
				width:120px;
				height:120px;
				padding:5px;
				float:left;
				border:1px solid #efefef;
			}
			#detail #lzinfo #lztoux #ulevel{
				width:130px;
				height:35px;
				float:left;
			}
			#detail #lzinfo #lztoux #ulevel a{
				font-size:12px;
				color:black;
			}
			#detail #lzinfo #lztoux #ulevel a:hover{
				color:blue;
			}
			#detail #lzinfo #lztoux #uhuiz{
				width:130px;
				min-height:20px;
				float:left;
				padding:2px 0px;
			}
			#detail #lzinfo #lztoux #uguanz{
				width:130px;
				height:30px;
				float:left;
			}
			#detail #lzinfo #lztoux #uguanz a{
				color:black;
				font-size:12px;
				padding-left:18px;
			}
			#detail #lzinfo #lztoux #uguanz a:hover{
				color:red;
			}
			#detail #lzinfo #lztoux #uguanz a.jia{
				background:url("./public/guanz.png") no-repeat left center;
			}
			#detail #lzinfo #lztoux #uguanz a.fa{
				background:url("./public/fax.png") no-repeat left center;
			}
			#detail #tzinfo{
				width:799px;
				float:left;
				background-color:white;
			}
			#detail #tzinfo #tzbiaot{
				width:799px;
				height:40px;
				float:left;
				color:#075991;
				line-height:40px;
				background-color:#f7f7f7;
				border-bottom:1px solid #d9d9d9;
			}
			#detail #tzinfo #tzbiaot p{
				font-size:20px;
				font-weight:bold;
				margin-left:10px;
			}
			#detail #tzinfo #tzbiaot p span{
				margin-left:5px;
				font-size:13px;
			}
			#detail #tzinfo #tzbiaot p span a{
				color:#636969;
			}
			#detail #tzinfo #tzbiaot p span a:hover{
				color:blue;
			}
			#detail #tzinfo #tzxiangq{
				width:780px;
				/*min-height:440px;*/
				float:left;
				padding:10px;
			}
			#detail #tzinfo #tzxiangq #fttime{
				width:780px;
				height:30px;
				float:left;
				font-size:15px;
				line-height:30px;
				border-bottom:1px dashed #ccc; 
			}
			#detail #tzinfo #tzxiangq #fttime p{
				float:left;
			}
			#detail #tzinfo #tzxiangq #fttime ul{
				list-style:none;
			}
			#detail #tzinfo #tzxiangq #fttime ul li{
				float:right;
			}
			#detail #tzinfo #tzxiangq #fttime ul li a{
				color:#636969;
				margin-left:5px;
				font-size:15px;
			}
			#detail #tzinfo #tzxiangq #fttime ul li a:hover{
				color:blue;
			}
			#detail #tzinfo #tzxiangq #tzneir{
				width:780px;
				min-height:200px;
				float:left;
				padding:10px 0px;
			}
			#detail #tzinfo #tzxiangq #tzneir p{
				font-size:15px;
			}
			#detail #tzinfo #tzxiangq #tzfenx{
				width:780px;
				height:36px;
				float:right;
				margin-left:10px;
				margin-top:10px;
			}
			#detail #tzinfo #tzxiangq #tzfenx a{
				float:right;
				margin-left:8px;
			}
			#detail #tzinfo #tzxiangq #tzyinc{
				width:600px;
				height:25px;
				float:left;
				margin-top:15px;
				border:1px dashed #ECA46A;
				background-color:#FFFAE1;
			}
			#detail #tzinfo #tzxiangq #tzyinc p{
				padding:5px 0px 0px 25px;
				font-size:15px;
				color:#636969;
			}
			#detail #tzinfo #tzxiangq #tzyinc div{
				width:15px;
				height:20px;
				float:left;
				margin-top:4px;
				margin-left:5px;
				background:url("./public/light.png") no-repeat;
			}
			#detail #tzinfo #tzxiangq #tzpingf{
				width:775px;
				height:30px;
				float:left;
				line-height:30px;
				margin-top:10px;
				border:1px solid #ccc;
				background:url("./public/bttiao.png") repeat-x;
			}
			#detail #tzinfo #tzxiangq #tzpingf p{
				margin-left:8px;
				font-size:14px;
			}
			#detail #tzinfo #tzxiangq #tzpingf span{
				color:red;
				font-weight:bold;
				padding:0px 2px;
			}
			#detail #tzinfo #tzxiangq #tzpingfxx{
				width:775px;
				height:30px;
				float:left;
				line-height:30px;
				border-bottom:1px dashed #ccc;
			}
			#detail #tzinfo #tzxiangq #tzpingfxx .tzjfname{
				font-size:15px;
				color:#075991;
			}
			#detail #tzinfo #tzxiangq #tzpingfxx .tzjfnumber{
				font-size:15px;
				color:#FF6600;
				font-weight:bold;
			}
			#detail #tzinfo #tzxiangq #tzpingfxx .tzpingfxxleft{
				float:left;
			}
			#detail #tzinfo #tzxiangq #tzpingfxx .tzpingfxxright{
				float:right;
			}
			#detail #tzinfo #tzxiangq .tzhuif{
				width:100%;
				height:50px;
				font-size:15px;
				line-height:50px;
				margin-top:30px;
				border-top:1px dotted #ccc;
				float:left;
			}
		/*====================================*/
		
		/*===========clear的css样式===========*/
			#clear{
				clear:both;
			}
		/*====================================*/
		
		/*==========footer的css样式===========*/
			#footer{
				width:950px;
				height:70px;
				text-align:center;
				padding-top:20px;
				margin:0 auto;
			}
			#footer p{
				font-size:13px;
				line-height:18px;
				color:#636969;
				margin-bottom:20px;
			}
		/*=============footer结束=============*/