/*========top的css样式设计代码=========*/
			*{
				margin:0px;
				padding:0px;
			}
			body{
				background-color:#F1F2F6;
			}
			a{
				text-decoration:none;
			}
			#top{
				width:100%;
				height:27px;
				border-bottom:1px solid white;
				background-color:#E6E9EE;
				line-height:27px;
			}
			.middlediv{
				margin:0 auto;
				width:950px;
			}
			#leftnav{
				list-style:none;
			}
			#leftnav li a{
				float:left;
				font-size:13px;
				margin-left:5px;
				color:#636969;
				text-decoration:none;
			}
			#leftnav li a:hover{
				color:blue;
			}
			#rightnav{
				list-style:none;
			}
			#rightnav li a{
				float:right;
				font-size:13px;
				margin-left:5px;
				color:#636969;
				text-decoration:none;
			}
			#rightnav li a:hover{
				color:blue;
			}
		/*====================================*/
		
		/*==========header的css代码===========*/
			#header{
				width:950px;
				height:80px;
				background-color:#F1F2F6;
				margin:0 auto;
			}
			#logo{
				width:300px;
				height:80px;
				float:left;
				line-height:80px;
				margin-top:;
			}
			#nobrother{
				width:300px;
				height:80px;
				float:left;
				line-height:80px;
			}
			#login{
				width:350px;
				float:left;
				font-size:15px;
				margin-top:20px;
				line-height:25px;
			}
			#login table{
				width:330px;
			}
			#login table input[type=submit]{
				width:70px;
				height:22px;
				cursor:pointer;
			}
			#login table input[type=button]{
				width:68px;
				height:22px;
				background-color:#fc0;
				border:2px solid #fc0;
				color:white;
				cursor:pointer;
				box-shadow:1px 2px #ccc;
			}
		/*====================================*/
		
		/*============nav的css样式============*/
			#nav{
				width:100%;
				height:45px;
				background-color:#075992;
				line-height:45px;
				font-size:15px;
				color:white;
				/*1170B2*/
			}
			#middlenav li{
				float:left;
				list-style:none;
				padding:0px 10px 0px 10px;
			}
			#middlenav li a{
				color:white;
			}
			#middlenav li a:hover{
				color:yellow;
			}
			#middlenav .point li{
				background-color:#1170B2;
			}
			#fastroad{
				float:right;
				margin-top:5px;
			}
		/*====================================*/
		
		/*==========大盒子的css样式===========*/
			#big{
				width:950px;
				margin:0 auto;
			}
			#search{
				height:41px;
				background-image:url("../images/searchA.jpg");
				line-height:38px;
				box-shadow:0px 2px 12px #ccc;
			}
			#search form{
				margin-left:70px;
				float:left;
			}
			#search form input[type=text]{
				height:25px;
			}
			#search form select{
				width:60px;
				height:30px;
			}
			#search form input[type=submit]{
				width:50px;
				height:30px;
			}
			#search #hot li{
				float:left;
				list-style:none;
				margin-left:10px;
				font-size:15px;
				line-height:45px;
			}
			#search #hot li.red{
				color:red;
			}
			#search #guanzhu{
				float:left;
				margin-left:160px;
				/*border:1px solid red;*/
			}
			#search #guanzhu ul{
				margin-top:3px;
				list-style:none;
			}
			#search #guanzhu ul li{
				float:left;
				margin-left:8px;
			}
			#banner{
				width:1000px;
				height:325px;
				margin-top:12px;
			}
			#banner #leftban{
				width:599px;
				height:350px;
				float:left;
			}
			#banner #middleban{
				width:178px;
				height:350px;
				float:left;
			}
			#banner #rightban{
				width:200px;
				height:350px;
				float:left;
			}
			.topban{
				height:197px;
			}
			.bottomban{
				height:137px;
			}
			#count{
				width:950px;
				height:80px;
				border-radius:5px;
				margin-top:10px;
				background-color:white;
			}
			#count #tongzhi{
				height:20px;
				float:left;
				/*border:1px solid green;*/
			}
			#count #tongzhi ul{
				list-style:none;
			}
			#count #tongzhi ul li{
				float:left;
			}
			#count #tongzhi ul li a{
				font-size:13px;
				margin-left:30px;
			}
			#count #tongzhi ul li a:hover{
				text-decoration:underline;
			}
			#count #one{
				font-weight:bold;
				color:red;
			}
			#count #two{
				font-weight:bold;
				color:blue;
			}
			#count #three{
				font-weight:bold;
				color:green;
			}
			#count #four{
				font-weight:bold;
				color:red;
			}
			#count #tongji{
				float:left;
				margin-top:10px;
				height:20px;
				line-height:20px;
				padding-left:26px;
				/*border:1px solid red;*/
			}
			#count #tongji ul{
				list-style:none;
			}
			#count #tongji ul li{
				float:left;
				font-size:13px;
				margin-left:3px;
				color:#636969;
			}
			#count #tongji ul li a{
				color:#636969;
			}
			#count #tongji ul li a:hover{
				text-decoration:underline;
			}
			#jishu{
				width:950px;
				border-radius:5px;
				margin-top:12px;
				float:left;
				background-color:white;
			}
			#xdl{
				width:950px;
				border-radius:5px;
				margin-top:12px;
				float:left;
				background-color:white;
			}
			#qushi{
				width:950px;
				border-radius:5px;
				margin-top:12px;
				float:left;
				background-color:white;
				
			}
			#yishi{
				width:950px;
				border-radius:5px;
				margin-top:12px;
				float:left;
				background-color:white;
			
			}
			#youqing{
				width:950px;
				border-radius:5px;
				margin-top:12px;
				float:left;
				background-color:white;
				margin-bottom:20px;
				padding-bottom:10px;
			}
			#youqing ul{
				padding:10px;
				list-style:none;
			}
			#youqing ul li{
				float:left;
			}
			#youqing ul li a{
				color:#636969;
				font-size:13px;
				margin-left:10px;
			}
			#youqing ul li a:hover{
				text-decoration:underline;
			}
			.biaoti{
				height:40px;
				border-bottom:1px solid #EFEFEF;
				background-image:url("./public/bgtiao.png");
				line-height:40px;
			}
			.dabiao{
				width:40px;
				height:40px;
				float:left;
				background-image:url("./public/dabiao.png");
				background-repeat:no-repeat;
				background-position:center;
			}
			.biaoti h5{
				float:left;
			}
			.topjian{
				width:40px;
				height:40px;
				float:right;
				background-image:url("./public/topjian.png");
				background-repeat:no-repeat;
				background-position:center;
			}
			.neirong{
				width:930px;
				margin:10px;
				float:left;
				/*border:1px solid red;*/
			}
			.bankuai{
				width:306px;
				height:75px;
				line-height:75px;
				float:left;
				/*border:1px solid red;*/
			}
			.tu{
				width:60px;
				height:60px;
				margin-top:6px;
				float:left;
				/*border:1px solid red;*/
			}
			.wen{
				width:240px;
				height:60px;
				margin-top:6px;
				float:left;
				/*border:1px solid red;*/
			}
			.wen ul{
				list-style:none;
				font-size:13px;
				margin-top:3px;
				margin-left:5px;
				color:#636969;
				line-height:18px;
			}
			.wen ul li a.dbt{
				color:#075991;
				font-weight:bold;
			}
			.wen ul li a:hover{
				text-decoration:underline;
			}
			.wen ul li span{
				color:#ff6600;
			}	
		/*====================================*/
		
		/*===========clear的css样式===========*/
			#clear{
				clear:both;
			}
		/*====================================*/
		
		/*==========footer的css样式===========*/
			#footer{
				width:950px;
				height:70px;
				text-align:center;
				padding-top:20px;
				margin:0 auto;
			}
			#footer p{
				font-size:13px;
				line-height:18px;
				color:#636969;
				margin-bottom:20px;
			}
		/*=============footer结束=============*/